body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color:rgb(153, 174, 180);
  color:rgb(2, 6, 7);
}

#Bearmoo{
  height: 70%;
  width: 100%;
  text-align: center;
  border-width: 1%;
  border-radius: 1%;
  border:rgb(79, 119, 124);

}
.game{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin:2;
}

@media screen and (min-width: 300px) {
  .game{
    margin-left: 30%;
    margin-right: 30%;
  } 
}

@media screen and (max-width: 800px) {
  .game{
    margin:10%;
  } 
}
.game:focus{
  outline: none;
}

.SCORE{
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  z-index: 1;
  background-color:rgb(48, 102, 77);
  padding: 1%;
  color:khaki;
  border-color: lightgreen;
  border-width: 10%;
  border-radius: 10%;
  display:flex;
  flex-direction: column;
  animation-duration: 3s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}

.message{
color: rgb(2, 39, 48);
  font-size: 25px;
  margin-left: 10%;
  width: 80%;
  border-radius: 10%;
  animation-duration: 2s;
  animation-name: fundo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes fundo {
 from{
   background-color: rgb(20, 39, 24);
 } 
 to{
   background-color: rgb(53, 71, 69);
 }
}
#langChoice {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(to right, rgb(157, 206, 247) ,rgb(153, 174, 180));
  border-style: groove;
  width: 80%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: none;

}
#langChoice:focus{
  border-style: groove;
  background-color: transparent;
}
#langChoice option{
  background-color: rgb(178, 195, 206);
}
#langChoice::before {
  font-family: fontello;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
}
.playAgain{
  color: beige;
  font-size: 25px;
  width: 80%;
  border-radius: 40%;
  margin-left: 10%;
  font-size: 50%;
  padding: 2%;
  animation-duration: 2s;
  animation-name: outra;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes outra {
 from{
   background-color: rgb(70, 28, 16);
 } 
 to{
   background-color: rgb(28, 65, 23);
 }
}
.BPlay{
  color: rgb(168, 168, 152);
  background-color: rgb(36, 53, 51);
  margin-left: 10%;
  font-size: 25px;
  border-radius: 10px;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
 
}
.BPlay:hover {
  background-color: rgb(28, 51, 28);
}

.wordField{
  display: flex;
  align-content:space-around; 
  
}
.wordField > div{
  font-size: 50%;
  margin: 1%;
  padding: 5%;
  border-radius: 10%;
  border-style: solid;
  border-width: 10%;
  border-color: rgb(0, 0, 0);
  flex-grow: 1;
}

.wordField .Empt {
  background-color:  rgb(48, 144, 199);
}

.wordField .Full {
  background-color:  rgb(160, 112, 152);
  transition: background 0.5s;
}

.M {
  background-color:rgb(226, 193, 43);
  border-color: rgb(226, 156, 50);
}

.V {
  background-color:rgb(107, 153, 22);
  border-color: rgb(57, 97, 34);
}

.F{
  background-color:rgb(202, 59, 16);
  border-color: rgb(107, 52, 45);
}
.E {
  color:rgb(8, 40, 54);
}